@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata');
}
.contenedor-principal
{
  width: 100%;
  margin: 100px auto;
  font-family: 'Liderata', sans-serif;
}
.contenedor-titulo
{
  margin: 0;
  padding: 70px;
  background: rgb(249, 82, 0);
  font-family: 'Liderata', sans-serif ;
  color: rgb(240, 240, 240);
  font-size: 45px;
  text-shadow: 0px 0px 5px rgb(27, 28, 28);
  text-align: center;
}

.contenedor-form
{
  background: rgb(0, 43, 212);
  color: rgb(240, 240, 240);
  text-shadow: 0px 0px 5px rgb(27, 28, 28);
  font-size: 19px;
  font-weight: bold;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
}
.contenedor-label
{
  font-family: 'Crimson Pro', sans-serif ;
  font-size: 15px;
  text-align: center;
  width: 30%;
}
.contenedor-input
{
  background: rgb(255, 255, 255);
  box-shadow: rgb(198, 107, 12) 2px 2px 4px;
  width: 10%;
  margin-right: 17px;
  margin-bottom: 2em;
  font-size: 20px;
  padding: 1px;
  box-shadow: 0px 0px 5px rgb(189, 7, 77);
}
.contedor-submit
{
  background: rgb(158, 231, 211);
  box-shadow: rgb(240, 0, 26) 6px 6px 8px;
  color: rgb(20, 20, 20)
  border: 100px;
  margin: 20px auto;
  width: 290px;
  font-size: 1em;
  cursor: e-resize;
  display: inline-block;
}
